html, body {
    text-align  : center;
    font-family : 'Domine', serif;
}

#drawing {
    text-align  : center;
    height      : 300px;
    width       : 300px;
    left        : 50%;
    margin-left : -150px;
    position    : relative;
    border      : 1px solid #0000000d;
}