html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#render-surface {
    z-index : -1;
}

#hud-container {
    font-family: 'Domine', serif;
    float       : right;
    text-align  : right;
    line-height : 30px;
    padding     : 30px;
    color       : white;
    float       : right;
}

td {
    min-width: 80px;
    text-align: center;
}